*, *::before, *::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark light;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em;
    text-wrap: balance;
}

p {
    margin: 0 0 1em;
    text-wrap: pretty;
}

ul, ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration: underline;
}

input, button, textarea, select {
    max-width: 100%;
    font: inherit;
}